@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom class for the draggable title bar */
.titlebar {
  -webkit-app-region: drag;
}

/* Custom class for non-draggable buttons inside the title bar */
.no-drag {
  -webkit-app-region: no-drag;
}